<!doctype html>
<html lang="en" ng-app="appModule">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body ng-controller="myCtrl">
<input type="text" ng-model="name">
<cur-text title="name"></cur-text>
<script src="node_modules/angular/angular.js"></script>
<script>
    var app = angular.module('appModule',[]);
    app.controller('myCtrl',function ($scope) {
        $scope.name = 'hello';
    });
    app.directive('curText',function () {
        return {
            restrict:'E',
            template:`<h1>{{name}}</h1><input type="text" ng-model="name">`,
            scope:{  //因为采用的是自己家的name属性，所有是单向
                //更改成双向，内部的name 引用的是外部的name(引用的是变量)
                name:'=title'  //$scope.name = 外面$scope.name
            }
            // 用@符取的是当前指令上属性的字符串 （单向）
            // 用=取得是当前指令上属性对应的作用域上的变量 （双向）
        }
    })
</script>
</body>
</html>