<!DOCTYPE html>
<html lang="en" ng-app="zfModule">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
</head>
<body ng-controller="carCtrl">
<table class="table table-bordered">
    <tr>
        <th><input type="checkbox" ng-model="all" ng-change="selectAll ()">全选</th><th>商品名称</th><th>单价</th><th>数量</th><th>小计</th><th>操作</th>
    </tr>
    <tr ng-repeat="product in products track by $index">
        <td><input type="checkbox" ng-model="product.isSelected" ng-click="selectOne()"></td>
        <td>{{product.name}}</td>
        <td>{{product.price}}</td>
        <td>
            <button ng-click="product.count=product.count-1" ng-disabled="product.count<=1">-</button>
            <input type="text" ng-model="product.count" ng-readonly="true">
            <button ng-click="product.count=product.count+1">+</button>
        </td>
        <td>{{product.price*product.count | currency:'￥'}}</td>
        <td><button class="btn btn-danger" ng-click="remove(product)">删除</button></td>
    </tr>
    <tr>
        <!--将sum return后的结果，显示到页面上-->
        <td colspan="6">总价{{sum() | currency:'￥'}} <button ng-click="removeAll()">删除选中的</button>
            <!--ng-change="sel()" 想在代码中取到对应的select值需要通过change事件-->
            <select ng-model="selected">
                <option value="{{c.tech}}" ng-repeat="c in coast">{{c.client}}</option>
            </select>
            折后价格{{sum()*selected | currency:'￥':0}}
        </td>
    </tr>
</table>
<script src="node_modules/angular/angular.js"></script>
<script>
    var app = angular.module('zfModule',[]);
    app.controller('carCtrl',['$scope',function ($scope) {
        $scope.selected = '0.5';
       /* $scope.sel = function () {
            alert($scope.selected);
        };*/
        $scope.products = [
            {isSelected:true,name:'iphone5s',price:99.9,count:1,id:1},
            {isSelected:true,name:'iphone6s',price:88,count:2,id:2},
            {isSelected:true,name:'iphone7s',price:66,count:3,id:3},
            {isSelected:true,name:'iphone4s',price:33,count:4,id:4},
        ];
        $scope.remove = function (product) {
            $scope.products = $scope.products.filter(function (item) {
                return item!=product;
            });
        };
        $scope.selectAll = function () {
            $scope.products.forEach(function (item) {
                item.isSelected = $scope.all;
            })
        };
        $scope.selectOne = function () {
            //只要作用域上有一个值改变，那么angular会将所有数据刷新，确保数据和视图一致
            $scope.products.find(function(item){
                $scope.all =  item.isSelected;
                return !$scope.all;
            });
        };
        $scope.selectOne(); //此处放到上面，不会导致预解释
        //计算总价函数
        $scope.sum = function () {
            var total = 0;
            $scope.products.forEach(function (item) {
                if(item.isSelected){
                    total+= item.price*item.count;
                }
            });
            return total;
        };
        //删除所有商品
        $scope.removeAll = function () {
            //判断所有商品中哪个选中了 过滤掉
            $scope.products = $scope.products.filter(function (item) {
                return !item.isSelected;
            });
        }
        //打折功能 select
        $scope.coast = [{client:'一折',tech:'0.3'},{client:'五折',tech:'0.5'}]

    }]);
</script>
</body>
</html>