<!DOCTYPE html>
<html lang="en" ng-app="appModule">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--
$scope.arr = ['red','green','yellow']
    传入的数据        毫秒           是否有按钮
<slider data="arr" interval="3000" btn="true"></slider>
-->
<toggle title="title1" s="say(title)">内容1</toggle>
<toggle title="title2" s="say(title)">内容2</toggle>
<toggle title="title3" s="say(title)">内容3</toggle>
<script src="node_modules/angular/angular.js"></script>
<script>
    var app = angular.module('appModule',[]);
    app.run(function ($rootScope) {
        $rootScope.title1 = 'hello1';
        $rootScope.title2 = 'hello2';
        $rootScope.title3 = 'hello3';
        //想让指令调用外部的say方法，但是指令已经完全和外面没关系了，属性传递
        $rootScope.say = function (title) {
            alert(title)
        }
    });
    app.directive('toggle',function () {
        return {
            restrict:'E',
            replace:true,
            transclude:true,
            //scope当前作用域，如果自己家没有那就向上找作用域
            //ele:当前指令所在的元素
            //attrs:是当前指令所有的属性集合
            link:function (scope,ele,attrs) {//操作dom，链接函数，连接视图和作用域
                scope.fn = function (a) {
                   scope.flag = !scope.flag;
                };
                scope.flag = true;
                //scope.title = attrs.title;
                //console.log(attrs.title);
            },
            scope:{ //对象中取得都是对应的属性
                t:'=title',
                say:'&s'//引入的函数传递参数必须使用对象格式
            },
            template:`
                <div>
                    <div class="title" ng-click="fn()">{{t}}</div>
                    <div class="content" ng-transclude ng-show="flag" ng-click="say({title:t})"></div>
                </div>
            `,
            //写一个angular轮播图
        }
    });
</script>
</body>
</html>

<style>
    .title{background: red; width: 150px;line-height: 30px;border-radius: 3px 3px 0 0}
    .content{background:green;width: 150px;height: 150px;}
</style>