<!DOCTYPE html>
<html lang="en" ng-app="appModule">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--发布订阅模式 on emit broadcast-->
<div ng-controller="parentCtrl">
    总价 <input type="text" ng-model="total" ng-change="fn()">
    <div ng-controller="childCtrl">
        单价 30 <br>
        数量 <input type="text" ng-model="count">
    </div>
</div>
<script src="node_modules/angular/angular.js"></script>
<script>
    //数据交互的第一种方式$rootScope
    //事件的交互 儿子告诉父亲$emit
    var app = angular.module('appModule',[]);
    app.controller('parentCtrl',function ($scope) {
        $scope.total = 30;
        $scope.$on('老子要改数量',function (e,data) {
            //e是事件源，data代表的是听到的内容
            $scope.total = data;
        });
        //代码执行到这里发话了
        $scope.fn = function () {
            $scope.$broadcast('你还敢叫老子',$scope.total);
        };
    });
    app.controller('childCtrl',function ($scope) {
        $scope.count = 1;
        //监控数量的变化
        $scope.$watch('count',function (newVal) {
            $scope.$emit('老子要改数量',newVal*30);//自己知道
        });
        $scope.$on('你还敢叫老子',function (e,data) {
            $scope.count = data/30;
        });
    });
    //on方法负责监听
    // broadcast需要向下广播（自己也能听到）
    // 向上广播emit（自己也能听到）

</script>
</body>
</html>